<div class="repo col-sm-4">
  <h5>{{title}}</h5>
  <span>{{description}}</span>
  <a class="btn btn-default btn-block" href="https://www.github.com/spark/{{title}}/issues">Issues</a>
  <a class="btn btn-default btn-block" href="http://www.waffle.io/spark/{{title}}">Work board</a>
</div>