/* Spark variables */
/* Mix-ins */
body {
  font-family: proxima-nova, "Helvetica Neue", helvetica, arial, sans-serif;
  margin-bottom: 100px; }

h1, h2, h3, h4, h5, h6, p, span, a, ul, li, button, input {
  font-family: proxima-nova, "Helvetica Neue", helvetica, arial, sans-serif; }

a:hover, a:active {
  text-decoration: none; }

.nav {
  margin: 20px 0 0;
  width: 100%; }

img.logo {
  width: 255px;
  height: 60px;
  float: left; }

h1 {
  text-align: center;
  font-weight: 100;
  font-size: 48px;
  padding-top: 96px; }

h1 + p, hr + p {
  text-align: center;
  font-weight: 100;
  font-size: 20px;
  margin-top: 20px; }

hr + p {
  margin-bottom: 60px; }

img.spark-stack {
  height: 360px;
  width: 360px;
  float: right; }

hr {
  clear: both;
  border: 0; }

h3 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 0;
  clear: both; }

h3 + p {
  margin-top: 12px; }

p {
  font-weight: 300;
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 36px; }

h4 {
  font-weight: 700;
  text-transform: uppercase;
  clear: both; }

h4 + .repo {
  clear: both; }

.repo {
  float: left;
  height: 200px;
  width: 230px;
  border: 5px solid #eee;
  padding: 10px;
  margin-bottom: 36px;
  margin-right: 10px; }
  .repo h5 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 3px;
    display: block;
    width: 120px;
    height: 44px; }
  .repo iframe {
    float: right; }
  .repo span {
    display: block;
    height: 80px;
    font-size: 12px; }

ul {
  padding-left: 18px;
  margin-top: -30px; }
  ul li {
    font-size: 16px;
    font-weight: 300; }

ul + h3 {
  margin-top: 36px; }
